.card {
    border: var(--clr-white);
    border-Radius: 20px;
    box-Shadow: 2px 2px 10px #000000;
    display: flex;
    flex-Direction: column;
    justify-Content: space-between;
    background-Color: var(--clr-funct-bg2);
    padding: 1rem;
    text-Align: center;
}

.card:hover {
  transform: translateY(-4px);
}

.header {
  margin-bottom: 8px;
}


.meta {
    color: var(--clr-funct-high-light-4);
    font-Weight: bolder;
}

.excerpt {
  font-size: 1rem;
  color: #374151;
  margin: 12px 0;
  line-height: 1.5;
}