<!-- ABOUT ME -->
<section id="about" class="container mx-auto py-16 px-4">
    <h3 class="text-3xl font-bold text-center mb-8 text-primary">
        About Me
    </h3>
    <p class="text-center max-w-2xl mx-auto text-lg leading-relaxed">
        Full Stack Developer with experience in backend (Java, Python, Django 
        REST, Spring Boot) and frontend (ReactJS, Angular, Drupal). Expert in 
        infrastructure and DevOps (Docker, Linux, Azure), with knowledge of 
        technical SEO and best practices such as Clean Code and TDD. Passionate
        about creating scalable, efficient solutions that focus on user 
        experience.
    </p>
</section>