<section id="content" >
    <!-- HERO -->
    <section class="text-center py-20 bg-primary text-white">
    <img src="images/selfie.png" alt="Tu foto" class="mx-auto w-64 rounded-full mb-6 border-4 border-white shadow-lg">
    <h2 class="text-4xl font-bold mb-2">Veronica Sanchez Justicia</h2>
    <p class="text-lg mb-6">Full Stack Web Developer, Backend & Frontend | Systems Administrator</p>
    <a href="#experience" 
        class="bg-white text-primary px-6 py-2 rounded-full font-semibold shadow hover:bg-accent hover:text-white transition">
        View Experience
    </a>
    </section>

    <div id="about"></div>
    <div id="experience"></div>
    <div id="skills"></div>
    <div id="education"></div>
    <div id="contact"></div>
    
</section>