<section id="skills" class="py-16">
    <div class="max-w-6xl mx-auto px-6">
      <h3 class="text-3xl font-bold text-center mb-10 text-primary">My Skills</h3>
      <!-- Java Ecosystem -->
      <div class="mb-6">
        <h3 class="text-2xl font-semibold text-primary mb-3">Java Ecosystem</h3>
        <ul class="flex flex-wrap gap-8 ">
          <li>Java</li>
          <li>J2EE</li>
          <li>Jakarta EE</li>
          <li>Hibernate</li>
          <li>PrimeFaces</li>
          <li>JavaServer Faces</li>
          <li>JPA</li>
          <li>JPQL</li>
          <li>JDBC</li>
          <li>Maven</li>
          <li>Sockets</li>
          <li>jUnit</li>
          <li>Swing</li>
          <li>iReport</li>
          <li>JDK (7, 8, 11, 12, 23, 24)</li>
        </ul>
      </div>

      <!-- Spring Framework -->
      <div class="mb-6">
        <h3 class="text-2xl font-semibold text-primary mb-3">Spring Framework</h3>
        <ul class="flex flex-wrap gap-8">
          <li>Spring Boot</li>
          <li>Spring Web</li>
          <li>Spring Data</li>
          <li>Spring Security</li>
          <li>Spring Core</li>
          <li>Thymeleaf</li>
        </ul>
      </div>

      <!-- Databases -->
      <div class="mb-6">
        <h3 class="text-2xl font-semibold text-primary mb-3">Databases</h3>
        <ul class="flex flex-wrap gap-8 ">
          <li>Oracle SQL</li>
          <li>PLSQL</li>
          <li>MySQL</li>
          <li>PostgreSQL</li>
          <li>H2</li>
          <li>JSON</li>
          <li>XML</li>
        </ul>
      </div>

      <!-- BackEnd -->
      <div class="mb-6">
        <h3 class="text-2xl font-semibold text-primary mb-3">BackEnd</h3>
        <ul class="flex flex-wrap gap-8">
          <li>PHP</li>
          <li>Django</li>
          <li>Rest Framework</li>
          <li>Python</li>
        </ul>
      </div>

      <!-- FrontEnd -->
      <div class="mb-6">
        <h3 class="text-2xl font-semibold text-primary mb-3">FrontEnd</h3>
        <ul class="flex flex-wrap gap-8">
          <li>HTML</li>
          <li>CSS</li>
          <li>Angular</li>
          <li>ReactJS</li>
          <li>NodeJS</li>
          <li>Vite</li>
          <li>Figma</li>
          <li>Gimp</li>
        </ul>
      </div>

      <!-- Full Stack -->
      <div class="mb-6">
        <h3 class="text-2xl font-semibold text-primary mb-3">Full Stack</h3>
        <ul class="flex flex-wrap gap-8">
          <li>Drupal</li>
          <li>WordPress</li>
          <li>JavaScript</li>
        </ul>
      </div>
      
      <!-- Infrastructure & DevOps -->
      <div class="mb-6">
        <h3 class="text-2xl font-semibold text-primary mb-3">Infrastructure & DevOps</h3>
        <ul class="flex flex-wrap gap-8">
          <li>Tomcat</li>
          <li>Docker</li>
          <li>Unix</li>
          <li>Linux</li>
          <li>Ubuntu</li>
          <li>Shell Bash Scripting</li>
          <li>Windows Server</li>
          <li>WSL</li>
          <li>Microsoft Azure</li>
        </ul>
      </div>

      <!-- Monitoring & Management -->
      <div class="mb-6">
        <h3 class="text-2xl font-semibold text-primary mb-3">Monitoring & Management</h3>
        <ul class="flex flex-wrap gap-8">
          <li>Dynatrace</li>
          <li>Grafana</li>
          <li>Introscope</li>
        </ul>
      </div>

      <!-- IDEs -->
      <div class="mb-6">
        <h3 class="text-2xl font-semibold text-primary mb-3">IDEs</h3>
        <ul class="flex flex-wrap gap-8">
          <li>Visual Studio</li>
          <li>Android Studio</li>
          <li>Netbeans</li>
          <li>Eclipse</li>
        </ul>
      </div>

      <!-- Version Control & Project Management -->
      <div class="mb-6">
        <h3 class="text-2xl font-semibold text-primary mb-3">Version Control & Project Management</h3>
        <ul class="flex flex-wrap gap-8">
          <li>GitHub</li>
          <li>Jira</li>
          <li>Trello</li>
          <li>ClickUp</li>
        </ul>
      </div>

      <!-- Methodologies & Best Practices -->
      <div class="mb-6">
        <h3 class="text-2xl font-semibold text-primary mb-3">Methodologies & Best Practices</h3>
        <ul class="flex flex-wrap gap-8">
          <li>Agile</li>  
          <li>Scrum</li>
          <li>Test-Driven Development (TDD)</li>
          <li>Clean Code</li>
          <li>Design Patterns</li>
          <li>UML Diagrams</li>
          <li>Customer-Oriented Approach</li>
          <li>Microservices</li>
        </ul>
      </div>

      <!-- Other Skills -->
      <div class="mb-6">
        <h3 class="text-2xl font-semibold text-primary mb-3">Other Skills</h3>
        <ul class="flex flex-wrap gap-8">
          <li>Office Tools</li>
          <li>Odoo 14</li>
          <li>Visual Basic</li>
        </ul>
      </div>

      <!-- Languages -->
      <div>
        <h3 class="text-2xl font-semibold text-primary mb-3">Languages</h3>
        <ul class="flex flex-wrap gap-8">
          <li>Spanish (Native)</li>
          <li>English (B2)</li>
          <li>German (Basic)</li>
        </ul>
      </div>
    </div>
  </section>