* {
    margin: 0;
    box-sizing: border-box;
}

.spacer {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-self: start;
    }

.fullmenu {
    width: 100%;
    display: flex;
    padding: 1em;
}

.burgerMenu {
    width: 100%;
    height: 4em;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    
}


.burgerBar {
    width: 4em;
    height: 0.5em;
    background-color: var(--clr-funct-font);
    border-radius: 0.5em;
}

.menu {
    display: none;
    width: 100%;
    background-color: var(--clr-funct-high-light-2);
}

.navLinksList {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}


a {
    color: var(--clr-funct-font);
    text-align: center;
    
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin: 3%;
    min-width: fit-content;
    transition: ease 0.7s all;
    cursor: pointer;
}


.hidden {
    display: none;
}

.visible {
    display: none;
}


.burgerBar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burgerBar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burgerBar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-1.25em, 1.7em);
    transition: ease-out 0.5s;
}

.burgerBar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

@media (max-width: 1100px) {
    .navLinksList {
        flex-direction: column;
    } 
    .burgerMenu {
        display: flex;
    }

    .fullmenu .navLinksList {
        
        display: none;
    } 

    .visible {
        display: flex;
    }
}

@media (max-width: 300px) {
    .fullmenu {
        flex-direction: column;
        height: fit-content;
    }
}