.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-Color: var(--clr-funct-high-light-1);
    color: var(--clr-funct-font);
    padding: 12px 24px;
    box-Shadow: 0 4px 6px #000000;
    z-index: 1000;
    height: 100px;
    text-align: center;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.navlink{
    color: #ffffff;
}


.imgContainer{
    height: 90px;
    width: 100%;
}

.imgSelfie {
    height: 100%;
}

.logo{
    font-Size: 30px;
    font-Weight: 700;
    padding: 0 50px;
    letter-Spacing: 1px;
    color: var(--clr-funct-font);
    white-space: nowrap;       /* Prevents text from wrapping to the next line */
    overflow: hidden;          /* Hides any overflowing text */
    text-overflow: ellipsis;   /* Adds "..." if the text overflows */
    width: fit-content; 
}


@media (max-width: 750px) {
    .header {
        height: 230px;
        flex-direction: column;
        align-items: center;

    }

}

@media (max-width: 500px) {
    .header {
        height: 200px;
        flex-direction: column;
        align-items: center;

    }

    .imgContainer{
        display: none;
    }
    .logo{
        white-space: wrap; 
    }
}