.postlist{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

@media (max-width: 1200px) {
    .postlist{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .postlist{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    .postlist{
        gap: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}