<!-- HEADER -->
<header class="sticky top-0 bg-white shadow-md z-50">
    <div class="container max-w flex justify-between items-center p-4">
        <h1 class="text-2xl font-bold text-primary">Veronica Sanchez Justicia</h1>
        <nav class="space-x-4">
            <a onclick="cargarPagina('about')" class="hover:text-primary">About Me</a>
            <a onclick="cargarPagina('experience')" class="hover:text-primary">Experience</a>
            <a onclick="cargarPagina('skills')" class="hover:text-primary">Skills</a>
            <a onclick="cargarPagina('education')" class="hover:text-primary">Education</a>
            <a onclick="cargarPagina('contact')" class="hover:text-primary">Contact</a>
            <a onclick="cargarPagina('blog')">Blog</a>
        </nav>
    </div>
</header>