<section id="content" >
  <section class="text-center py-20 bg-primary text-white">
    <img src="images/selfie.png" alt="Tu foto" class="mx-auto w-64 rounded-full mb-6 border-4 border-white shadow-lg">
    <h3 class="text-3xl font-bold text-center mb-8 text-white">Blog</h3>
    <p class="text-lg mb-6">Technical articles and advice for developers</p>
  </section>

  <main class="max-w-4xl mx-auto mt-10 p-4">
    <div id="posts-container" class="space-y-6">
      <!-- Aquí se cargarán los posts desde JSON -->
    </div>
  </main>

  
    
</section>